.c-ul {
	border: 1px solid #abcdef;
}

.c-li {
	background-color: #defacb
}

.c-liSelected {
	background-color: #fedbca
}

.c-iExpanded {
	border: 1px solid #77a
}

.c-iCollapsed {
	border: 1px solid #7c7
}

.c-iLeaf {
	border: 1px solid #a77
}

treecontrol.tree-classic li .tree-label.c-label {
	color: #44c
}

treecontrol.tree-classic li .tree-selected.c-labelSelected {
	background-color: yellow
}